*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    font-family: "맑은 고딕";
}
body{
    width: 1400px;
    height: 100%;
    margin: 0 auto;

}

/* header */

header{
    width: 100%;
    height: 65px;
    background: white;
    border-bottom: 2px solid rgb(1, 171, 154);
    box-shadow: 0,0,0,0.4;
}
header ul li{
    width: 15%;
    float: right;
    text-align: center;
}
header ul li a{
    text-decoration: none;
    padding: 10px 4px;
    display: block;
    margin-top: 20px;
    color: rgb(1, 171, 154);
    font-size: 14px;
    font-weight: bold;
}
header ul li a:hover{
    
    transition: all 0.4s;
    color: gray;
}
header .logo img{
    position: absolute;
    margin-top: 10px;
    width: 130px;
    height: 60px;
}

/* main */
main{
    width: 100%;
    background: white;
}
main .slider{
    height: 800px;
    padding-top: 50px;
    margin: 0px auto;
    overflow: hidden;
    position: relative;
    
}
.full_slider{
    float: left;
    width: 4200px;
    height: 800px;
    
    z-index: 1;
    position: relative;
}
main .slider .full_slider > div{
    float: left;
    margin: 0 auto;
    width: 1400px;
    height: 800px;
    
    position: relative;
}
.slider img{
    padding-left: 200px;
    box-sizing: border-box;
    position: absolute;
}
.img1_content{
    width: 500px;
    height: 50px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    color: white;
    float: right;
    z-index: 1000;
    margin-left: 800px;
    top: 600px;
}
